.profile__info {

}

@media (max-width: 450px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 36px;
    }
}